@model ChecksAndBalances.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Checks & Balances | Account | Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sectionTitle {
    <section class="section-title">
        <h1>Account Settings</h1>
    </section>
}

<section id="content" class="container">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }

    @if (!User.IsInRole("Buyer"))
    {
        using (Html.BeginForm("Buy", "Account"))
        {
           <p>Upgrade to premium account for access to Archive:</p>
           <input type='image' name='submit'
              src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' />
        }
    }
</section>