@{
    ViewBag.Title = "Checks & Balances | Choose state";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sectionTitle {
    <section class="section-title">
        <div class="container">
            <h1><span>Welcome</span>. Choose Your State</h1>
            You are Here: <a href="/" class="active">Home</a>
        </div>
    </section>
}

<!-- Start Content -->
<section id="content" class="container">
    <div id="state-map" class="big-map" class="add-top"></div>

    <hr class="divider1" />
</section>

@section footer {

    <script type="text/javascript">
        jQuery(function ($) {
            $('#state-map').gMap({
                latitude: 39.740986355883585,
                longitude: -93.779296875,
                zoom: 4
            });
        });
    </script>
}