@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section sectionTitle {
    <section class="section-title">
        <div class="container">
            <h1><span>Error 404</span>. Lorem Ipsum Dolor</h1>
        </div>
    </section>
}

 <section id="content" class="container add-top add-bottom">

    <div class="columns twelve first text-center">
      
    <img src="/Content/Images/404.png" alt="Error 404" id="error-404" class="add-bottom add-top">

    <h3 class="add-bottom">It seem the page you were looking for has moved or is no longer there.</h3>

    <div class="columns twelve first">
        <a href="index.html" class="button">GO TO HOMEPAGE</a> &nbsp; <a href="#" class="button">GO TO SITEMAP</a>
    </div>

    </div>
      
</section>