@model System.Collections.Generic.IEnumerable<ChecksAndBalances.Data.Models.Article>
@{
    ViewBag.Title = "Checks & Balances | Admin | Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section sectionTitle {
    <section class="section-title">
        <div class="container">
            <h1><span>Create and Publish</span> Articles</h1>
        </div>
    </section>
}

<section id="content" class="container add-top add-bottom">
    <div class="columns twelve">
        <p class="lead">
            Create/Edit Existing Articles
        </p>
        @if (!Model.Any())
        {
            <h4>No Articles to edit</h4>
        }


        <div id="accordion"> 
        @foreach(var article in Model)
        {
                <h3 class="accordion-head">@article.Title</h3>
                <div class="accordion-content">
                    <p>@article.Description</p>
                    @Html.RouteLink("edit", "Default", new { @controller = "Admin", @action = "Edit", @id = article.Id }, new { @class = "button" })
                </div>
        }
        </div>

        <hr class="divder1" />

        <div class="text-center add-top">
            @Html.RouteLink("Create Article", "Default", new { @controller = "Admin", @action = "Edit" }, new { @class = "button large" })
        </div>
    </div>
</section>